*{
    padding:0;
    margin:0;
}
body{
    font-family:"young serif",serif;
}

.section-one{
    background-color: brown;
    color:black;
    padding-left:10px ;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    
}
.section-one__name{
    font-size: 50px;
    

}
.section-one__role{
    font-size:30px;
    margin-top:10px ;
    margin-bottom: 20px;
    
}
.section-one__contact{
    text-decoration: none;
    background-color: aquamarine;
    color:black;
    font-size: 20px;
    padding:5px;
    border-radius: 5px;

}
.container{
    padding:50px;
}

.section-two{
    margin-top: 10px;
    background-color:bisque;
    color:black;
    padding:20px;
    font-size: 20px;
    

}
.section-two__decs{
    margin-top:10px;
    font-size: 20px;;
}
.section-three{
    margin-top:10px;
    font-size: 20px;
    background-color: burlywood;
    padding:20px;
    display:inline-block;
    vertical-align: top;
    height:300px;
    border-radius: 10px;
    
}
li{
    list-style: none;
}
.section-three__decs{
    margin-top:10px;
}

.section-four{
    margin-top:10px;
    background-color:goldenrod;
    padding:20px;
    border-radius: 10px;
    height:300px;
    display:inline-block
}
.section-four__title{
    font-size: 30px;

}
.section-four__decs{
    font-size:20px;
    margin-top: 10px;
}
.section-five{
    background-color: gray;
    padding:20px;
    margin-top:10px;
    font-size: 20px;
    
}
.section-five__decs{
    text-decoration: none;
    background-color: brown;
    color:azure;
    padding:5px;
    border-radius: 5px;
}
.section-six{
    background-color: brown;
    color:black;
    padding-left:10px ;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
}
.section-six__name{
    font-size: 50px;
}
.section-six__role{
    font-size: 30px;
    margin-top:10px ;
    margin-bottom:20px;
}
.section-six__decs{
    text-decoration: none;
    background-color: yellow;
    color:black;
    font-size: 20px;
    padding:5px;
    border-radius: 5px;
}
.section-seven{
    background-color: yellowgreen;
    color:black;
    font-size:20px;
    padding:20px;
    margin-top:10px;
}


.section-eight{
    background-color: gray;
    padding:30px;
    margin-top:10px;
    font-size: 20px;
    margin-bottom: 10px;
}
.section-eight__decs{
    text-decoration: none;
    background-color: brown;
    color:azure;
    padding:5px;
    border-radius: 5px;
}